body{
    background-image: linear-gradient(to bottom, #203980, #000000);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}
.main{
    display: flex;
    align-content: flex-end;
    justify-content: space-evenly;
    align-items: center;
    color: #578484;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(255, 255, 255, 0.051);
    margin: 40px;
}
.icon{
    display: block;
    width: 60px;
    height: auto;
    cursor: pointer;
}

.main h1{
    display: flex;
    justify-content: flex-start;
    width: 50%;
}
.content{  
    text-align: center;
    margin: 50px auto;
    width: 60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    justify-items: center;
    
}
.content h2{
    font-size: 40px;
    margin-bottom: 20px;
    color: black;
}
.info h2{
    text-align: left;
    font-family: cursive;
    font-size: 100px;
    color: white;
    margin-left: 50px;
   
}
.tagline{
    text-align: left;
    font-size: 40px;
    font-family:monospace;
    color: white;
    margin-left: 50px;
}
.intro{
    text-align: left;
    font-size: 20px;
    color: #ffffff;
    margin-left: 50px;
}
.path1, .path2, .path3{
    font-size: 25px;
    margin: 30px auto 100px auto; 
    border: 3px solid #000983;
    background-color: #000983;
    border-radius: 15px;
    padding: 20px;
    width: 200px;
}
a{
    text-decoration: none;
    color: white;
    text-shadow: #000000 1px 1px 2px, #000000 0 0 1em, #000000 0 0 0.2em;
}
a:visited{
    color: white;
}
a:hover{
    color: #79767a;
}
a:active{
    color: #14fff9;
}
.login-content{
    text-align: center;
    margin: 50px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    border: 2px solid #ffffff;
    border-radius: 50px;
    padding: 10px;
    background-color: #80808015;
    width: 400px;
    height: 350px;
    justify-content: center;
}
.login-content h2{
    font-size: 40px;
    margin-bottom: 40px;
    color: #ffffff;
}



/*sign up*/
.content{
    width: 400px;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 50px;
    background-color: #80808015;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
}

.head{
    color: #ffffff !important;
}


button{
    border-radius: 12px;
    font-weight: bolder;
    font: bolder;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    height: 100px;
    width: 300px;
    background-color: #8d8d8f;
    border: #000000;
    align-items: center;
}

h2{
    color: #ffffff !important;
}

